$font-family-default: 'Open Sans', sans-serif;

$font-size-small: 10px;
$font-size-normal: 12px;
$font-size-base: 14px;
$font-size-medium: 21px;
$font-size-title-small: 24px;
$font-size-title-big: 48px;
$font-size-button: 16px;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$line-height-small: 1.1;
$line-height-normal: 1.35;
$line-height-big: 1.4;

$main-color: #6039AA;
$secondary-color: #FFFFFF;
$text-color: #999999;
$link-color: #26ADED;

$screen-medium: '(max-width: 1280px)';
$screen-small: '(max-width: 768px)';